.form-control{
    border-radius: 0px;
}
label.error{
    font-weight: normal;
    color: #ba0101;
    display: block;
}
input.error, select.error{
    border: 1px solid #ba0101;
}

header .navbar-dzung {
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #fff;
    background-image: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    z-index: 1000;
    box-shadow: none;
}
header .navbar-dzung .navbar-nav>li>a {
    color: #737373;
}
header .navbar-dzung .navbar-nav>li>a:hover, header .navbar-dzung .navbar-nav>li>a:focus {
    background: transparent;
    color: #333;
}
header .navbar-dzung .navbar-header .navbar-toggle {
    background-color: #737373;
    color: #fff;
}
header .navbar-dzung .navbar-toggle .icon-bar {
    background: #fff;
}
header .navbar-dzung .navbar-brand{
    padding-top: 5px;
    padding-bottom: 5px;
}
#content{
    margin: 10px 0;
}
#side_box{
    min-height:300px;
    border:1px solid #ccc;
    padding: 0 15px;
}
.pad-right-0{
    padding-right: 0px;
}